<h1>{{this.shows.length}}</h1>
<span {{did-insert this.performTask @query}}></span>
<span {{did-update this.performTask @query}}></span>
{{#if this.fetchData.isRunning}}
  <p>loading</p>
{{else}}
  <AsCalendar
    @occurrences={{this.shows}}
    @dayStartingTime="0:00"
    @dayEndingTime="23:00"
    @timeSlotDuration="00:30"
    @nowTimeLabelFormat="kk:mm"
    @type={{this.view}}
    @onNavigate={{action "calendarNavigate"}}
    @onClickOccurrence={{action "calendarClickOccurrence"}}
    @onAddOccurrence={{action "calendarAddOccurrence"}}
    @onUpdateOccurrence={{action "calendarUpdateOccurrence"}}
    @onEditOccurrence={{action "calendarEditOccurrence"}}
    @onRemoveOccurrence={{action "calendarRemoveOccurrence"}}
    @startingDate={{this.startingDate}}
    @onTypeChange={{this.onTypeChange}} as |occurrence timetable calendar|
  >
    <AsCalendar::Occurrence
      @model={{occurrence}}
      @isMonthView={{occurrence.calendar.isMonthView}}
      @timeSlotHeight={{calendar.timeSlotHeight}}
      @timeSlotDuration={{calendar.timeSlotDuration}} as |model|
    >
      {{!-- template-lint-disable no-inline-styles --}}
      <h1 class="as-calendar-occurrence__title" style={{titleStyle}}>
        <LinkTo @route="authenticated.schedule.show" @model={{model.content.id}} @title={{model.title}}>
          {{model.title}}
        </LinkTo>
      </h1>
    </AsCalendar::Occurrence>
  </AsCalendar>
{{/if}}
