<ul class="px-4 pt-2 pb-4 font-semibold">
  {{#if session.isAuthenticated}}
    <li class="current-time-navbar">
      <span class="current-time"><Clock @timeZone={{this.currentUser.user.timeZone}} /></span>
      <span class="current-timezone">{{this.currentUser.user.timeZone}}</span>
    </li>
    <li class="dropdown">
      <a href="#" class="" role="button" {{action @toggleUserMenu}}>
        {{this.currentUser.user.username}}
      </a>
    </li>
  {{else}}
    <li><LinkTo @route="login">Login</LinkTo></li>
  {{/if}}
</ul>
