<h4>Tags</h4>
<div class="error">
{{#if error}}
  {{error}}
{{/if}}
</div>
<PowerSelectMultipleWithCreate @options={{labels}} @selected={{track.labels}} @searchField="name" @renderInPlace={{true}} @onchange={{action "setSelectedLabels"}} @oncreate={{action "createTag"}} @showCreateWhen={{action "hideCreateOptionOnSameName"}} as |label|>
  {{label.name}}
</PowerSelectMultipleWithCreate>
