<div class="">
  <h1 class="text-xl">Media Library</h1>
</div>
<div class="">
  <div class="">
    <div class="">
      <FaIcon @icon="search" />
      <Input class="search-tracks" @autofocus="autofocus" @value={{filterText}} @escape-press={{action "clearSearch"}} placeholder="Search media" />
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <PowerSelectMultiple
      @placeholder="Search by tag..."
      @options={{@labels}}
      @selected={{this.selectedLabels}}
      @renderInPlace={{true}}
      @onChange={{action (mut this.selectedLabels)}} as |label|>
      {{label.name}}
    </PowerSelectMultiple>
  </div>
</div>
<TrackUploader>
  <div class="">
    <table class="w-full">
      <tbody>
        <Tracks::Loader @query={{@searchParams}} as |loader|>
          {{#if loader.isRunning}}
            <p>
              Loading...
            </p>
          {{else}}
            {{#each loader.data as |track|}}
                <TrackLi
                  @track={{track}}
                  @playlist={{playlist}}
                  @labels={{labels}}
                  @setIsSyncingPlaylist={{setIsSyncingPlaylist}}
                />
            {{else}}
              No result.
            {{/each}}
            <Pagination @meta={{loader.data.meta}} @route="authenticated.playlists.show" />
          {{/if}}
        </Tracks::Loader>
      </tbody>
    </table>
  </div>
</TrackUploader>
