<div class="">
  <h1 class="text-xl">Media Library</h1>
</div>
<div class="">
  <div class="">
    <div class="">
      <FaIcon @icon="search" />
      <Input class="search-tracks" @autofocus="autofocus" @value={{filterText}} @escape-press={{action "clearSearch"}} placeholder="Search media" />
    </div>
  </div>
  <div class="col-md-7">
    <div class="fileUpload btn btn-default">
      <i class="fa fa-plus"></i>Add
      <TrackUploader />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <PowerSelectMultiple
      @placeholder="Search by tag..."
      @options={{@labels}}
      @selected={{this.selectedLabels}}
      @renderInPlace={{true}}
      @onChange={{action (mut this.selectedLabels)}} as |label|>
      {{label.name}}
    </PowerSelectMultiple>
  </div>
</div>
<div class="tracks-list">
  <table class="table table-bordered">
    <tbody>
      {{#if isSearching}}
        {{#each filteredResults as |track|}}
          <TrackLi @track={{track}} @playlist={{playlist}} @labels={{labels}} @setIsSyncingPlaylist={{setIsSyncingPlaylist}} />
        {{/each}}
      {{else}}
        {{#each sortedTracks as |track|}}
          <TrackLi @track={{track}} @playlist={{playlist}} @labels={{labels}} @setIsSyncingPlaylist={{setIsSyncingPlaylist}} />
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
