<div>
  <form {{action "save" on="submit"}}>
    <div class="mb-4">
      <ValidatedField
        @type="text"
        @changeset={{@changeset}}
        @property="title"
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="artwork">
        Artwork
      </label>
      {{#if @changeset.image}}
        <img alt="artwork" width="300" height="300"
          src={{file-url @changeset.image "thumb"}}>
      {{/if}}
      <ArtworkFileUpload
        @file={{@changeset.image}}
        @filename={{@changeset.imageFilename}} />
    </div>

    <div class="mb-4">
      <h4 class="block text-gray-700 text-sm font-bold mb-2">Host</h4>
      <PowerSelectMultiple
        @renderInPlace={{true}}
        @searchEnabled={{true}}
        @search={{this.searchDjs}}
        @options={{@djs}}
        @selected={{@changeset.djs}}
        @onChange={{fn (mut @changeset.djs)}} as |dj|>
        {{dj.username}}
      </PowerSelectMultiple>
    </div>

    <div class="mb-4">
      <label for="promote-show">Live Broadcast</label>
      <Input
        @type="checkbox"
        @checked={{@changeset.isLive}}
        name="is-live"
      />
    </div>

    <div class="mb-4">
      <label for="promote-show">Guest Host</label>
      <Input
        @type="checkbox"
        @checked={{@changeset.isGuest}}
        name="is-live"
      />
    </div>

    <div class="mb-4">
      <ValidatedField
        @type="text"
        @changeset={{@changeset}}
        @property="guest"
      />
    </div>

    <div class="mb-4">
      {{this.formattedDay}}
    </div>

    <div class="mb-4">
      <TimePicker
        @label="Start"
        @selected={{@changeset.start}}
        @onChange={{this.setStart}}
        />
    </div>

    <div class="mb-4">
      <TimePicker
        @label="End"
        @selected={{@changeset.start}}
        @onChange={{this.setEnd}}
        />
    </div>

    <div class="mb-4">
      <ValidatedField
        @type="textarea"
        @changeset={{@changeset}}
        @property="description"
      />
    </div>

    <div class="mb-4">
      <Tracks::LabelsSelect @labels={{@labels}} @track={{@changeset}} />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="repeat">Repeat</label>
      <select id="repeat" {{on "change" (fn this.setRecurringInterval)}}>
        {{#each this.recurringIntervals as |interval|}}
          <option value={{interval.value}} >{{interval.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="mb-4">
      <Input
        @type="button"
        class="btn"
        value="Add prerecorded content"
        {{on "click" this.toggleShowingContentEditor}}
        />
      {{#if this.showingContentEditor}}
        <ScheduledShow::ContentEditor show={{@changeset}} />
      {{/if}}
    </div>

    <div class="flex items-center justify-between mb-4">
      {{#if @changeset.isValid}}
        {{#if this.isSaving}}
          <button disabled class="btn cursor-pointer opacity-50 cursor-not-allowed"></button>
        {{else}}
          <Input
            @type="submit"
            class="btn cursor-pointer"
            @value="Save"
          />
        {{/if}}
      {{else}}
        <Input
          @type="submit"
          class="btn opacity-50 cursor-not-allowed"
          disabled
          @value="Save"
        />
      {{/if}}
    </div>

    <div class="flex items-center justify-between">
      <Input
        @type="submit"
        class="btn bg-red-500 cursor-pointer"
        @value="Delete"
      />
    </div>
  </form>
</div>
