<div class="">
  <h1 class="text-xl">Media Library</h1>
</div>
<div class="">
  <div class="">
    <div class="">
      <Tracks::Search
        @search={{@updateSearch}}
        @filterText={{@searchParams.query}} />
    </div>
  </div>
</div>
<div class="">
  <div class="">
    <PowerSelectMultiple
      @placeholder="Search by tag..."
      @options={{@labels}}
      @selected={{this.selectedLabels}}
      @renderInPlace={{true}}
      @onChange={{action (mut this.selectedLabels)}} as |label|>
      {{label.name}}
    </PowerSelectMultiple>
  </div>
</div>
<Tracks::Uploader>
  <div class="">
    <table class="w-full">
      <tbody class="">
        <Tracks::Loader @query={{@searchParams}} @tracks={{@tracks}} as |loader|>
          {{#if loader.isRunning}}
            <div class="h-64 overflow-y-scroll w-full">
              <p>
                Loading...
              </p>
            </div>
          {{else}}
            <div class="h-64 overflow-y-scroll w-full">
              {{#each loader.data as |track|}}
                <Tracks::Track
                  @track={{track}}
                  @playlist={{@playlist}}
                  @labels={{@labels}}
                  @setIsSyncingPlaylist={{@setIsSyncingPlaylist}}
                />
              {{else}}
                No result.
              {{/each}}
            </div>
            <Pagination @meta={{loader.data.meta}} @route="authenticated.playlists.show" @paramName="tracksPage" />
          {{/if}}
        </Tracks::Loader>
      </tbody>
    </table>
  </div>
</Tracks::Uploader>
