<span {{did-insert this.performTask @searchParams}}></span>
<span {{did-update this.performTask @searchParams}}></span>
<div class="">
  <h1 class="text-xl">Media Library</h1>
</div>
<div class="mb-2">
  <Tracks::Search
    class="mb-2"
    @search={{@updateSearch}}
    @filterText={{@searchParams.query}} />
</div>
<div class="mb-2">
  <PowerSelectMultiple
    @placeholder="Search by tag..."
    @options={{@labels}}
    @selected={{this.selectedLabels}}
    @renderInPlace={{true}}
    @onChange={{action (mut this.selectedLabels)}} as |label|>
    {{label.name}}
  </PowerSelectMultiple>
</div>
<Tracks::Uploader @pushTrack={{this.pushTrack}}>
  <div class="">
    <div class="w-full">
      {{#if this.fetchData.isRunning}}
        <div class="h-64 overflow-y-scroll w-full">
          <p>
            Loading...
          </p>
        </div>
      {{else}}
        <div class="h-64 overflow-y-scroll w-full">
          {{#each this.sortedTracks as |track|}}
            <Tracks::Track
              @track={{track}}
              @labels={{@labels}}
            />
          {{else}}
            No result.
          {{/each}}
        </div>
      {{/if}}
      <Pagination @meta={{this.tracksQuery.meta}} @route={{this.router.currentRouteName}} @paramName="tracksPage" />
    </div>
  </div>
</Tracks::Uploader>
