<div colspan="3" class="border-2 border-gray-300 px-2 py-2">
  {{#if track.isUploading}}
    uploading {{track.audioFileName}}...
    <div class="meter">
      <span style="{{uploadProgressStyle}}"></span>
    </div>

  {{else}}
    <div class="flex justify-between">
      <div class="flex">
        {{#if track.artwork}}
          <img width="50" height="50" class="inline m-1" src={{file-url track.artwork 'thumb'}} />
        {{/if}}
        <div class="m-1">
          <span class="left uploaded-track-name truncate inline-block">{{track.displayName}}</span>
          <div class="">{{track.formattedDuration}}</div>
        </div>
      </div>
      <div class="flex justify-between w-1/6 h-10">
        <a class="bg-gray-300 hover:bg-gray-500 px-2 py-2 rounded"
          href="{{track.audioFileName}}">
          <FaIcon @icon="download" />
        </a>
        <LinkTo @route="authenticated.tracks.show" @model={{track.id}}>
          <button class="bg-blue-700 hover:bg-blue-900 text-white px-2 py-2 rounded">
            <FaIcon @icon="edit" />
          </button>
        </LinkTo>
        <button {{action 'addToPlaylist'}} disabled={{isAddingNewPlaylist}} class="bg-green-500 hover:bg-green-700 text-white px-2 py-2 rounded">
          <FaIcon @icon="plus-circle" />
        </button>
      </div>
    </div>
  {{/if}}
</div>
