<Djs::Search
  @search={{@updateSearch}}
  @filterText={{@searchParams.query}} />
<table class="" data-test-djs-table>
  <thead>
    <th>username</th>
    <th>email</th>
    <th>time zone</th>
    <th>role</th>
    <th></th>
  </thead>
  <tbody>
    <Djs::Loader @query={{@searchParams}} as |loader|>
      {{#if loader.isRunning}}
        <p>
          Loading...
        </p>
      {{else}}
        {{#each loader.data as |dj|}}
          <tr>
            <td>{{ dj.username }}</td>
            <td>{{ dj.email  }}</td>
            <td>{{ dj.timeZone }}</td>
            <td>{{ dj.role }}</td>
            {{#if currentUser.user.isAdmin}}
              <td>
                <LinkTo @route="authenticated.djs.show" @model={{dj}} data-test-edit-link>
                  Edit
                </LinkTo>
              </td>
            {{/if}}
            {{#if currentUser.user.isAdmin}}
              <td><!-- LinkTo 'sign in as', admin_sign_in_as_path(dj.id) }} --> </td>
                <!-- LinkTo 'sign in as', admin_sign_in_as_path(dj.id) }} -->
            {{/if}}
          </tr>
        {{else}}
          No result.
        {{/each}}
        <Pagination @meta={{loader.data.meta}} @route="authenticated.djs" />
      {{/if}}
    </Djs::Loader>
  </tbody>
</table>
