{{#if (gt @meta.page 1)}}
  <span class="pagination">
    <LinkTo
      @route={{@route}}
      @query={{pagination-query @paramName (dec @meta.page)}}
    >
      Previous
    </LinkTo>
  </span>
{{/if}}
{{#each (range 1 (inc @meta.total_pages)) as |number|}}
  {{#if (eq number @meta.page)}}
    <span class="px-2">
      {{number}}
    </span>
  {{else}}
    <span class="px-2">
      <LinkTo @route={{@route}} @query={{pagination-query @paramName number}}>
        {{number}}
      </LinkTo>
    </span>
  {{/if}}
{{/each}}
{{#if (lt @meta.page @meta.total_pages)}}
  <span class="pagination">
    <LinkTo
      @route={{@route}}
      @query={{pagination-query @paramName (inc @meta.page)}}
    >
      Next
    </LinkTo>
  </span>
{{/if}}
