<label>{{@label}}</label>
<PowerSelect
  @searchEnabled={{true}}
  @selected={{this.selected}}
  @onChange={{this.setTime}}
  @options={{this.times}} as |time|
>
  {{time}}
</PowerSelect>
{{#if this.hasErrors}}
  <ul>
    {{#each this.errors as |error|}}
        <li class="bg-red-700 text-white p-2 mb-2">{{error.validation}}</li>
    {{/each}}
  </ul>
{{/if}}
