<span {{did-insert this.performTask @query}}></span>
<span {{did-update this.performTask @query}}></span>
{{#if this.fetchData.isRunning}}
  IT'S LOADING THE SHRIMPS...WAIT A SECOND
  <ShrimpCalendar />
{{else}}
  <ShrimpCalendar
    @onDayclick={{this.newShow}}
    @events={{this.shows}}
    @onCalendarNavigate={{this.calendarNavigate}}
      as |model|>
    {{!-- template-lint-disable no-inline-styles --}}
    <div class="bg-red-400 text-white mb-1">
      <div class="bg-red-600 flex justify-between items-center p-1">
        <span class="font-extrabold text-xs">{{model.startFormatted}} - {{model.endFormatted}}</span>
        {{#if (not (eq model.recurringInterval "not_recurring"))}}
          <span
            class="text-xs rounded-lg p-1 border-2 border-white
              {{model.recurringInterval}}
            ">
            {{model.recurringFormatted}}
          </span>
        {{/if}}
      </div>
      <div>
        {{#if model.thumbImageUrl}}
          <img alt="artwork" width="200" height="200"
            src={{model.thumbImageUrl}}>
        {{/if}}
      </div>
      <h1 class="p-1">
        <LinkTo @route="authenticated.schedule.show" @model={{model.id}} title={{model.title}}>
          {{model.title}}
        </LinkTo>
      </h1>
    </div>
  </ShrimpCalendar>
{{/if}}
