<div>
  <h4 class="" id="">Edit Track - {{model.track.title}}</h4>
  {{model.track.audioFileName}}
  <br>
  <div class="">
    <Tracks::Replacer @track={{model.track}} />
  </div>
  {{#if model.track.isUploading}}
    uploading {{track.audioFileName}}...
    <div class="meter">
      <span style="{{uploadProgressStyle}}"></span>
    </div>
  {{/if}}
  <span class="block text-gray-700 text-sm font-bold mb-2" >Uploaded by: </span><b>{{model.track.uploadedBy}}</b>
  <form class="">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">Title</label>
      <Input
        @value={{model.track.title}}
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        />
    </div>
    <div class="">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="artwork">
        Artwork
      </label>
      {{#if model.track.artwork}}
        <img alt="artwork" width="300" height="300" src={{file-url model.track.artwork 'thumb'}}>
      {{/if}}
      <ArtworkFileUpload @file={{model.track.artwork}} @filename={{model.track.artworkFilename}} />
    </div>
    <br>
    <div class="mb-4">
      Uploaded at: {{model.track.createdAt}}
      <br>
      Last updated at: {{model.track.updatedAt}}
    </div>
  </form>
  <div class="mb-4">
    <Tracks::LabelsSelect @labels={{model.labels}} @track={{model.track}} />
  </div>
  <div class="mb-4">
    <h4 class="block text-gray-700 text-sm font-bold mb-2">Link to Scheduled Show</h4>
    <PowerSelect
      @searchEnabled={{true}}
      @search={{action "searchShows"}}
      @renderInPlace={{true}}
      @options={{model.scheduledShows}}
      @selected={{model.track.scheduledShow}}
      @onChange={{action "selectScheduledShow"}} as |scheduledShow|>
      {{scheduledShow.displayTitle}}
    </PowerSelect>
  </div>
  {{#if isSaving}}
    <div class="spinner">
    </div>
  {{/if}}
  <br>
  <button {{action "save"}} disabled={{isSaving}} class="btn">Save</button>
  <button {{action "destroy"}} disabled={{isSaving}} class="btn danger"><FaIcon @icon="trash" /></button>
  <button {{action "mixcloud"}} disabled={{isSaving}} class="btn"><FaIcon @icon="mixcloud" /></button>
  <button {{action "soundcloud"}} disabled={{isSaving}} class="btn btn-default"><FaIcon @icon="soundcloud" /></button>

  {{#if mixcloudDialog}}
    {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true onClose="mixcloud"}}
      <div class="modal-header">
        <button {{action "mixcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload to Mixcloud - {{model.track.title}}</h4>
      </div>
      <div class="modal-body">
        {{mixcloud-uploader track=model.track}}
      </div>
    {{/modal-dialog}}
  {{else if soundcloudDialog}}
    {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true close="soundcloud"}}
      <div class="modal-header">
        <button {{action "soundcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload to Soundcloud - {{model.track.title}}</h4>
      </div>
      <div class="modal-body">
        {{soundcloud-uploader track=model.track}}
      </div>
    {{/modal-dialog}}
  {{else if embedDialog}}
    {{#modal-dialog targetAttachment="center" translucentOverlay=true clickOutsideToClose=true onClose="embed"}}
      <div class="modal-header">
        <button {{action "embed"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Embed - {{model.track.title}}</h4>
      </div>
      <div class="modal-body">
        Embed code and preview:
        <div>
          <Input @focus-in="focusEmbedCode" @id="embed-player-html" @type="text" @readonly="readonly" @value={{model.track.embedCode}} />
        </div>
        {{{model.track.embedCode}}}
      </div>
    {{/modal-dialog}}
  {{/if}}
</div>
