{{#let (changeset @dj this.DjValidations) as |changeset|}}
  <Ui::ChangesetForm
    @onSubmit={{this.submit}}
    @changeset={{changeset}}
    @onError={{this.onError}}
      as |Form|>
    <div class="mb-4">
      <Form.Input
        @label='Username'
        @fieldName='username'
        placeholder='dj cheesehead'
      />
    </div>

    <div class="mb-4">
      <Form.Input
        @label='Email Address'
        @fieldName='email'
        type='email'
        placeholder='cheesehead@hotmail.com'
      />
    </div>

    <div class="mb-4">
      <Form.Textarea
        @label='Bio'
        @fieldName='bio'
      />
    </div>

    <div class="mb-4">
      <Form.Checkbox
        @label='Publish Profile'
        @fieldName='profilePublish'
        />
    </div>

    <div class="mb-4">
      <Djs::RoleSelect @changeset={{changeset }}/>
    </div>

    <div class="flex items-center justify-between">
      <Button
        @type='submit'
        @intent='primary'
        disabled={{changeset.isInvalid}}
        >
        Save
      </Button>
    </div>
  </Ui::ChangesetForm>
{{/let}}
