<div class="">
  <h1 class="text-xl">Playlists</h1>
</div>
<div class="flex">
  <div class="relative">
    <span class="playlist-title">{{@playlist.name}}</span>
    <span id="playlist-selector"
          class="cursor-pointer"
      {{on "click" this.selectPlaylist}}>
      <FaIcon @icon="chevron-down" />
    </span>
    {{#if this.isSelectingPlaylist}}
      <div class="absolute bg-white border-2 border-black p-4 rounded-lg h-64 overflow-y-scroll w-64">
        <Playlists::PlaylistSelector @selectedPlaylist={{@playlist}} @closePlaylistSelector={{this.selectPlaylist}} />
      </div>
    {{/if}}
  </div>
</div>
<div class="flex space-x-2">
  <div class="mr-2">
    <button {{action 'editPlaylistSettings'}} class="bg-gray-300 hover:bg-gray-500 px-2 py-2 rounded">
      Playlist Settings
    </button>
  </div>
  <div class="">
    <button {{on 'click' this.newPlaylist}}
      class="bg-green-500 hover:bg-green-700 text-white px-2 py-2 rounded"
      data-test-new-playlist-button
      >
      <FaIcon @icon="plus" />New Playlist
    </button>
  </div>
</div>
<div class="mr-8 mt-5 flex">
  <div class="w-full">
    <SortableGroup @tagName="tbody" @model={{@playlist.sortedPlaylistTracks}} @onChange={{action "reorderItems"}} as |group|>
      <div class="h-64 overflow-y-scroll w-full">
        {{#each group.model as |playlistTrack|}}
          <group.item @tagName="tr" @model={{playlistTrack}} as |groupItem|>
            <Playlists::Track @playlistTrack={{playlistTrack}}
              class="border-2 border-gray-300 px-2 py-2" />
            {{#groupItem.handle data-test-vertical-demo-handle class="handle"}}
              <span data-item={{playlistTrack}}>
                <span>&vArr;</span>
              </span>
            {{/groupItem.handle}}
          </group.item>
        {{/each}}
      </div>
    </SortableGroup>
  </div>
</div>
{{#if this.isEditingSettings}}
  <Playlists::Settings
    @transitionAfterDelete={{@transitionAfterDelete}}
    @closeSettings={{action 'editPlaylistSettings'}}
    @playlist={{@playlist}}
  />
{{/if}}
