<ModalDialog @targetAttachment="center" @translucentOverlay={{true}} @clickOutsideToClose={{true}} @close={{@closeSettings}}>
    <div class="modal-header">
      <button {{on "click" @closeSettings}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Playlist Settings</h4>
    </div>
    <Ui::Form @onSubmit={{this.saveSettings}}>
      <div class="modal-body">
        <h2>{{this.changeset.name}}</h2>
        <span>Created by: </span><b>{{this.changeset.createdBy}}</b>
        <br />
        <h4>Interpolate another playlist with this one (e.g. for jingles)</h4>
        <label>Enabled <Input @type="checkbox" id="interpolated-playlist-enabled" name="interpolatedPlaylistEnabled" @checked={{this.changeset.interpolatedPlaylistEnabled}} /></label>
        <br />
        <label>
          Every <Input @type="number"
            class="input focus:outline-none focus:shadow-outline"
            name="interpolatedPlaylistTrackIntervalCount"
            @value={{@playlist.interpolatedPlaylistTrackIntervalCount}}
            step="1" />
        </label>
        <label>
          tracks, play <Input
            class="input focus:outline-none focus:shadow-outline"
            @type="number"
            name="interpolatedPlaylistTrackPlayCount"
            @value={{this.changeset.interpolatedPlaylistTrackPlayCount}}
            step="1" />
        </label>
        <label>tracks from the
          <Playlists::Select
            @selected={{this.changeset.interpolatedPlaylist}}
            @fieldName="interpolatedPlaylistId"
            @changeset={{this.changeset}}
            @handleChange={{this.setInterpolatedPlaylist}}
          />
        </label>
        <span class="strong">{{@playlist.interpolatedPlaylist.name}}</span> playlist.
        <br />
        <h4>Shuffle</h4>
        <label>On <Input @type="checkbox" id="shuffle" name="shuffle" @checked={{@playlist.shuffle}} /></label>
        <h4>Don't cut off tracks early for next show</h4>
        <label>Enabled <Input @type="checkbox" id="no-cue-out" name="noCueOut" @checked={{@playlist.noCueOut}} /></label>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save changes">
        <button class="btn danger" type="button" {{on "click" this.deletePlaylist}}>Delete playlist</button>
      </div>
    </Ui::Form>
  </ModalDialog>
