<div class="w-1/2 mx-2">
  <TracksList @tracks={{model.tracks}}
    @playlist={{model.playlist}}
    @setIsSyncingPlaylist={{action "setIsSyncingPlaylist"}}
    @labels={{model.labels}}
    />
  <img class="uploader-icon hidden absolute top-0 left-0" alt="Upload files" src="/assets/images/uploadericon.png">
</div>
<div class="w-1/2 mx-2">
  <PlaylistTracksList
    @playlist={{model.playlist}}
    @playlists={{model.playlists}}
    @isSyncingPlaylist={{isSyncingPlaylist}}
    @setIsSyncingPlaylist={{action "setIsSyncingPlaylist"}}
    @transitionAfterDelete={{route-action "transitionAfterDelete"}}
    />
</div>
