<table class="">
  <thead>
    <th>Path</th>
    <th>Filesize</th>
    <th></th>
    <th></th>
  </thead>
  <Await
    @promise={{this.fetchRecordings}} as |await|>
    <tbody
      {{did-update await.reload @page}}
      >
      <await.Pending>
        Loading...
      </await.Pending>
      <await.Fulfilled as |result|>
        {{#each result as |recording|}}
          <tr>
            <td>{{recording.path}}</td>
            <td>{{recording.filesize}} MB</td>
            <td>
              {{#if recording.unprocessed}}
                <button
                  class="btn"
                  {{on "click" (fn this.process recording)}}
                  >
                  Process
                </button>
              {{else if recording.processing}}
                <span>Processing...</span>
              {{else if recording.processed}}
                <span>Processed</span>
              {{else if recording.processingFailed}}
                <span>Processing failed... :( Try again?</span>
                <button
                  class="btn"
                  {{on "click" (fn this.process recording)}}
                  >
                  Process
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        <Pagination
          @page={{@page}}
          @totalPages={{result.meta.total_pages}}
          @route="authenticated.recordings"
          @paramName="page" />
      </await.Fulfilled>

      <await.Rejected>
        error ... :(
      </await.Rejected>
    </tbody>
  </Await>
</table>
