<table class="table table-striped">
  <thead>
    <th>email</th>
    <th>created at</th>
    <th>username</th>
    <th>link</th>
    <th>homepage</th>
    <th>interval</th>
    <th>desired time</th>
    <th>approve</th>
  </thead>
  <tbody>
    {{#each @hostApplications as |hostApplication| }}
      <tr>
        <td>{{ hostApplication.email }}</td>
        <td>{{ hostApplication.createdAt}}</td>
        <td>{{ hostApplication.username }}</td>
        <td>{{ hostApplication.link }}</td>
        <td>{{ hostApplication.homepageUrl }}</td>
        <td>{{ hostApplication.interval }}</td>
        <td>{{ hostApplication.desiredTime }}</td>
        <td>
          <HostApplications::Vote
            @hostApplication={{hostApplication}}
          />
        </td>
        {{#if hostApplication.approved}}
          <td>Approved</td>
        {{else if this.currentUser.user.isAdmin}}
          <td>
            <button
              class="btn" type="button" {{on "click" (fn this.approve hostApplication)}}
             >
              Approve
            </button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
