<table class="">
  <button
    {{ on "click" this.doThingy}}
    type="button"
    >
    Do it!
  </button>
  <thead>
    <th>Path</th>
    <th>Filesize</th>
    <th></th>
    <th></th>
  </thead>
  <Await
    @promise={{this.fetchRecordings}}
    @onResolve={{this.resolvedRecordings}}
    as |await|>
    <span>{{this.thingy}}</span>
    <tbody
      {{did-update await.reload @page}}
      >
      <await.Pending>
        Loading...
      </await.Pending>
      <await.Fulfilled as |result|>
        {{#each result as |recording|}}
          <tr>
            <td>{{recording.path}}</td>
            <td>{{recording.filesize}} MB</td>
            <td>
              {{#if recording.unprocessed}}
                <button
                  class="btn" type="button" {{on "click" (fn this.process recording)}}
                  >
                  Process
                </button>
              {{else if recording.processing}}
                <span>Processing...</span>
              {{else if recording.processed}}
                <span>Processed</span>
              {{else if recording.processingFailed}}
                <span>Processing failed... :( Try again?</span>
                <button
                  class="btn" type="button" {{on "click" (fn this.process recording)}}
                  >
                  Process
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
        <FruitsUi::Pagination
          @page={{@page}}
          @totalPages={{result.meta.total_pages}}
          @route="authenticated.recordings"
          />
      </await.Fulfilled>

      <await.Rejected>
        error ... :(
      </await.Rejected>
    </tbody>
  </Await>
</table>
