<Djs::Search
  @search={{@updateSearch}}
  @filterText={{@searchParams.query}} />
<table class="" data-test-djs-table>
  <thead>
    <th>username</th>
    <th>email</th>
    <th>time zone</th>
    <th>role</th>
    <th></th>
  </thead>
  <Await @promise={{this.fetchDjs}} as |await|>
    <tbody
      {{did-update await.reload @searchParams.page}}
      >
      <await.Pending>
        <p>
          Loading...
        </p>
      </await.Pending>
      <await.Fulfilled as |result|>
        {{#each result as |dj|}}
          <tr>
            <td>{{ dj.username }}</td>
            <td>{{ dj.email  }}</td>
            <td>{{ dj.timeZone }}</td>
            <td>{{ dj.role }}</td>
            {{#if this.currentUser.user.isAdmin}}
              <td>
                <LinkTo @route="authenticated.djs.show" @model={{dj}} data-test-edit-link>
                  Edit
                </LinkTo>
              </td>
            {{/if}}
            {{#if this.currentUser.user.isAdmin}}
              <!-- TODO let admin sign in as user -->
              <td><!-- LinkTo 'sign in as', admin_sign_in_as_path(dj.id) }} --> </td>
                <!-- LinkTo 'sign in as', admin_sign_in_as_path(dj.id) }} -->
            {{/if}}
          </tr>
        {{else}}
          No result.
        {{/each}}
        <FruitsUi::Pagination
          @page={{@searchParams.page}}
          @totalPages={{result.meta.total_pages}}
          @route="authenticated.djs" />
      </await.Fulfilled>

      <await.Rejected>
        error ... :(
      </await.Rejected>
    </tbody>
  </Await>
</table>
