<ModalDialog
  @targetAttachment="none"
  @translucentOverlay={{true}}
  @onClose={{this.backToSchedule}}
  @containerClass='centered-scrolling-container'
  @overlayClass='centered-scrolling-overlay'
  @wrapperClass='centered-scrolling-wrapper'
  >
  <div class="p-2">
    {{#let (changeset @model this.ScheduledShowValidations) as |changeset|}}
      <ChangesetForm
        @changeset={{changeset}}
        @onSubmit={{this.onSubmit}}
        as |Form|>
        <div class="mb-4">
          <Form.Input
            @type="text"
            @label="Title"
            @fieldName="title"
          />
        </div>

        <Ui::Field @label="Artwork">
          {{#if changeset.image}}
            <img alt="artwork" width="300" height="300"
              src={{file-url changeset.image "thumb"}}>
          {{/if}}
          <ArtworkFileUpload
            @file={{changeset.image}}
            @filename={{changeset.imageFilename}} />
        </Ui::Field>

        <div class="mb-4">
          <Playlists::Select
            @selected={{changeset.playlist}}
            @fieldName="playlist"
            @changeset={{changeset}}
          />
        </div>

        <div class="mb-4">
          <h4 class="block text-gray-700 text-sm font-bold mb-2">Host</h4>
          <PowerSelectMultiple
            @renderInPlace={{true}}
            @searchEnabled={{true}}
            @search={{this.searchDjs}}
            @options={{@djs}}
            @selected={{changeset.djs}}
            @onChange={{fn (mut changeset.djs)}} as |dj|>
            {{dj.username}}
          </PowerSelectMultiple>
        </div>

        <div class="mb-4">
          <label for="promote-show">Live Broadcast</label>
          <Form.Checkbox
            @type="checkbox"
            @fieldName="isLive"
            name="is-live"
          />
        </div>

        <div class="mb-4">
          <label for="promote-show">Guest Host</label>
          <Form.Checkbox
            @type="checkbox"
            @fieldName="isGuest"
            name="is-live"
          />
        </div>

        <div class="mb-4">
          <Form.Input
            @disabled={{not changeset.isGuest}}
            @type="text"
            @label="Guest"
            @fieldName="guest"
          />
        </div>

        <div class="mb-4">
          {{formatted-day changeset.start}}
        </div>

        <div class="mb-4">
          <TimePicker
            @label="Start"
            @property='start'
            @changeset={{changeset}}
            @onChange={{this.setStart}}
            />
        </div>

        <div class="mb-4">
          <TimePicker
            @label="End"
            @property='end'
            @changeset={{changeset}}
            @onChange={{this.setStart}}
            />
        </div>

        <div class="mb-4">
          <Form.Textarea
            @label="Description"
            @fieldName="description"
            @size='lg'
            rows='5'
          />
        </div>

        <div class="mb-4">
          <Tracks::LabelsSelect @labels={{@labels}} @track={{this.changeset}} />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="repeat">Repeat</label>
          <select id="repeat" {{on "change" this.setRecurringInterval}}>
            {{#each this.recurringIntervals as |interval|}}
              <option value={{interval.value}} >{{interval.name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="mb-4">
          <Input
            @type="button"
            class="btn"
            value="Add prerecorded content - coming soon"
            disabled="disabled"
            {{on "click" this.toggleShowingContentEditor}}
            />
          {{#if this.showingContentEditor}}
            <ScheduledShow::ContentEditor @show={{this.changeset}} />
          {{/if}}
        </div>

        <div class="flex items-center justify-between mb-4">
          <Button
            @type='submit'
            @intent='primary'
            disabled={{changeset.isInvalid}}
            >
            Save
          </Button>
        </div>

        {{#unless this.args.model.isNew}}
          <div class="flex items-center justify-between">
            <Input
              @type="submit"
              class="btn danger cursor-pointer"
              @value="Delete"
            />
          </div>
        {{/unless}}
      </ChangesetForm>
    {{/let}}
  </div>
</ModalDialog>
