<ModalDialog
  @targetAttachment="none"
  @translucentOverlay={{true}}
  @onClose={{this.backToSchedule}}
  @containerClass='centered-scrolling-container'
  @overlayClass='centered-scrolling-overlay'
  @wrapperClass='centered-scrolling-wrapper'
  >
  <div class="p-2">
    {{#let (changeset @model this.ScheduledShowValidations) as |changeset|}}
      <Ui::ChangesetForm
        @changeset={{changeset}}
        @onSubmit={{this.onSubmit}}
        @onError={{this.onError}}
        as |Form|>
        <div class="mb-4">
          <Form.Input
            @type="text"
            @label="Title"
            @fieldName="title"
          />
        </div>

        <Ui::Field @label="Artwork">
        {{#if @model.isNew}}
          {{#if changeset.image}}
            <img alt="artwork" width="300" height="300"
              src={{changeset.image}}>
          {{/if}}
        {{else}}
          {{#if changeset.thumbImageUrl}}
            <img alt="artwork" width="300" height="300"
              src={{changeset.thumbImageUrl}}>
          {{/if}}
        {{/if}}
          <ArtworkFileUpload
            @changeset={{changeset}}
            @fileField='image'
            @filename='imageFilename' />
        </Ui::Field>

        <div class="mb-4">
          <Playlists::Select
            @selected={{changeset.playlist}}
            @fieldName="playlist"
            @changeset={{changeset}}
          />
        </div>

        <div class="mb-4">
          <h4 class="block text-gray-700 text-sm font-bold mb-2">Host</h4>
          <PowerSelectMultiple
            @renderInPlace={{true}}
            @searchEnabled={{true}}
            @search={{this.searchDjs}}
            @options={{@djs}}
            @selected={{changeset.djs}}
            @onChange={{fn (mut changeset.djs)}} as |dj|>
            {{dj.username}}
          </PowerSelectMultiple>
        </div>

        <div class="mb-4">
          <label for="promote-show">Live Broadcast</label>
          <Form.Checkbox
            @type="checkbox"
            @fieldName="isLive"
            name="is-live"
          />
        </div>

        <div class="mb-4">
          <label for="promote-show">Guest Host</label>
          <Form.Checkbox
            @type="checkbox"
            @fieldName="isGuest"
            name="is-live"
          />
        </div>

        <div class="mb-4">
          <Form.Input
            disabled={{not changeset.isGuest}}
            @type="text"
            @label="Guest"
            @fieldName="guest"
          />
        </div>

        <div class="mb-4">
          {{formatted-day changeset.start}}
        </div>

        <div class="mb-4">
          <TimePicker
            @label="Start"
            @property='start'
            @changeset={{changeset}}
            />
        </div>

        <div class="mb-4">
          <TimePicker
            @label="End"
            @property='end'
            @changeset={{changeset}}
            />
        </div>

        <div class="mb-4">
          <Form.Textarea
            @label="Description"
            @fieldName="description"
            @size='lg'
            rows='5'
          />
        </div>

        <div class="mb-4">
          <Tracks::LabelsSelect @labels={{@labels}} @track={{this.changeset}} />
        </div>

        <div class="mb-4">
          <ScheduledShow::Form::RepeatSelect
            @changeset={{changeset}}
            @fieldName='recurringInterval'
          />
        </div>

        <div class="mb-4">
          <Input
            @type="button"
            class="btn"
            @value="Add prerecorded content - coming soon"
            disabled="disabled"
            {{on "click" this.toggleShowingContentEditor}}
            />
          {{#if this.showingContentEditor}}
            <ScheduledShow::ContentEditor @show={{this.changeset}} />
          {{/if}}
        </div>

        <div class="flex items-center justify-between mb-4">
          <Button
            @type='submit'
            @intent='primary'
            disabled={{(or Form.state.hasSubmitted changeset.isInvalid)}}
            >
            Save
          </Button>
        </div>

        {{#if Form.state.hasSubmitted}}
          <marquee>SAVING....SAVING.....WAIT.....WAIT FOR IT....</marquee>
        {{/if}}

        {{#unless @model.isNew}}
          <div class="flex items-center justify-between">
            <Input
              @type="submit"
              class="btn danger cursor-pointer"
              @value="Delete"
            />
          </div>
        {{/unless}}
      </Ui::ChangesetForm>
    {{/let}}
  </div>
</ModalDialog>
