<div>
  <Djs::Form @dj={{this.model.dj}} @save={{route-action "save"}} />
  <Djs::Table
    @updateSearch={{action "updateSearch"}}
    @searchParams={{this.searchParams}}
    @djs={{this.model.djs}} />
</div>
