<section>
  <h1>Recordings</h1>
  {{!-- >:3 --}}
  <table class="">
    <thead>
      <th>path</th>
    </thead>
    <tbody>
      {{#each model as |recording|}}
      <tr>
        <td>{{recording.path}}</td>
        <td>
          <PowerSelect
            @searchEnabled={{true}}
            @search={{action "searchShows"}}
            @renderInPlace={{true}}
            @options={{model.scheduledShows}}
            @selected={{model.track.scheduledShow}}
            @onChange={{action "selectScheduledShow"}} as |scheduledShow|>
            {{scheduledShow.displayTitle}}
          </PowerSelect>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
