<div class="w-full">
  <TimetableCalendar
    @onTypeChange={{this.calendarTypeChange}}
    @reloadCalendar={{this.reloadCalendar}}
    @query={{this.query}}
    @startingDate={{this.start}}
    @view={{this.view}}
  />
</div>
{{outlet}}
