<div class="w-full">
  <h1 class="text-2xl text-white bg-red-400">
    HEY WAIT STOP
  </h1>
  <section>
    <p>
      This scheduler is <blink>deprecated</blink>, and will stop working soon. Why don't you try the new shows manager on <a href="https://datafruits.fm/user/my-shows" target="_blank" rel="noopener nofollower">datafruits</a> instead?!
    </p>
    <p>
      If you are making a brand NEW show, please make it on <a href="https://datafruits.fm/user/my-shows/new" target="_blank" rel="noopener nofollower">datafruits</a>.
    </p>
  </section>
  <TimetableCalendar
    @onTypeChange={{this.calendarTypeChange}}
    @reloadCalendar={{this.reloadCalendar}}
    @query={{this.query}}
    @startDate={{this.query.start}}
    @view={{this.view}}
    @shows={{this.model}}
  />
</div>
{{outlet}}