<section class="signin">
  <h1>Sign in</h1>

  <form {{action "signIn" on="submit"}}>
    <div>
      <label>Login</label><br>
      {{input type="text" value=login autofocus=true autocapitalize="off"}}
    </div>

    <div>
      <label>Password</label><br>
      {{input type="password" autocomplete="off" value=password}}
    </div>

    <div>
      <label>Remember Me</label>
      <Input @type="checkbox" @checked={{rememberMe}} />
    </div>

    <div>{{input type="submit" class="btn btn-success" value="Login"}}</div>
  </form>

  <!-- render "devise/shared/links" -->
</section>

{{#if session.isAuthenticated}}
  authenticated!
{{/if}}
