<section class="w-1/2">
  <div class="flex w-full justify-center">
    <p>
      Greet! Welcome to the NEW Streampusher.
      My name is Torbbis Web. As you can see we are hard at work here working with raw HTML materials. Things might be a little clunky around here but we are working hard to make everything work for you, the Data Fruitlets. If you notice any bugs or problems, please bother @freedrull incessantly about them right away!
    </p>
    <img src="/assets/images/torbbis.gif" alt="torbbis" />
  </div>
  <div class="flex w-full flex-col justify-center">
    <div>
      <h1 class="mb6 text-center text-xl">Sign in</h1>
    </div>

    <form {{on "submit" this.signIn}}>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="login">
          Login
        </label>
        <Input id="login"
          placeholder="username or email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          @type="text"
          @value={{login}}
          autofocus={{true}}
          @autocapitalize="off" />
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="login">
          Password
        </label>
        <Input id="password"
          placeholder=""
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          @type="password"
          autocomplete="off"
          @value={{password}} />
      </div>

      <div class="mb-4">
        <label>Remember Me</label>
        <Input @type="checkbox" @checked={{this.rememberMe}} />
      </div>

      <div class="flex items-center justify-between">
        <Input
          @type="submit"
          class="btn cursor-pointer"
          data-test-submit-button
          @value="Login" />
      </div>

      <div class="flex items-center justify-between">
        <a href="https://datafruits.fm/password-reset" target="_blank" rel="noopener noreferrer">
          Forgot your password?
        </a>
      </div>
    </form>
    <img src="/assets/images/under-construction.gif" alt="under construction 90s!" height="200" style="height: 200px; width: 200px;" />
  </div>
  <div>
    Streampusher 2 is NOT affiliated with <a href="https://shrimpshake.co/" target="_blank" rel="noopener noreferrer">Shirmp Shake Co. LTD</a>, or any Shrimp Shake related products. In fact we don't even like the stuff, <strong>yuck!</strong> If you receive any emails from Shrimp Shake Co asking to reset your datafruits or streampusher password do NOT respond do not even look at the message, throw your computer away as quickly as possible and buy a new one.
  </div>
</section>
