{{#let (changeset @model) as |changeset|}}
  <Ui::ChangesetForm
    @changeset={{changeset}}
    @onSubmit={{this.onSubmit}}
    @onError={{this.onError}}
    as |Form|>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">URL</label>
      <span>{{changeset.audioFileName}}</span>
    </div>
    <div class="mb-4 mt-4">
      <Tracks::Replacer @track={{changeset}} />
    </div>
    {{#if changeset.isUploading}}
      uploading {{changeset.audioFileName}}...
      <div class="meter">
        <span style="{{this.uploadProgressStyle}}"></span>
      </div>
    {{/if}}
    <div class="mb-4">
      <ul>
        <li>
          <span class="block text-gray-700 text-sm font-bold mb-2" >Uploaded by: </span><b>{{changeset.uploadedBy}}</b>
        </li>
        <li>
          <span class="block text-gray-700 text-sm font-bold mb-2" >Uploaded at: </span> {{changeset.createdAt}}
        </li>
        <li>
          <span class="block text-gray-700 text-sm font-bold mb-2" >Last updated at: </span> {{changeset.updatedAt}}
        </li>
      </ul>
    </div>
    <div class="mb-4">
      <Form.Input
        @type="text"
        @label="Title"
        @fieldName="title"
        />
    </div>
    <div class="">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="artwork">
        Artwork
      </label>
      {{#if changeset.artwork}}
        <img alt="artwork" width="300" height="300" src={{file-url this.model.track.artwork 'thumb'}}>
      {{/if}}
      <ArtworkFileUpload
        @changeset={{changeset}}
        @fileField='artwork'
        @filename='artworkFilename'
        />
    </div>
    <br>
    <div class="mb-4">
      <Tracks::LabelsSelect
        @labels={{@labels}}
        @changeset={{changeset}} />
    </div>
    <div class="mb-4">
      <h4 class="block text-gray-700 text-sm font-bold mb-2">Link to Scheduled Show</h4>
      <PowerSelect
        @searchEnabled={{true}}
        @search={{this.searchShows}}
        @renderInPlace={{true}}
        @options={{@scheduledShows}}
        @selected={{changeset.scheduledShow}}
        @onChange={{fn (mut changeset.scheduledShow)}} as |scheduledShow|>
        {{scheduledShow.displayTitle}}
      </PowerSelect>
    </div>
    <br>
    <Button
      @type='submit'
      @intent='primary'
      disabled={{(or Form.state.hasSubmitted changeset.isInvalid)}}
      >
      Save
    </Button>
    <button disabled={{Form.state.hasSubmitted}} class="btn danger" type="button" {{on "click" this.delete}}><FaIcon @icon="trash" /></button>

    {{#if this.mixcloudDialog}}
      <ModalDialog @targetAttachment="center" @translucentOverlay={{true}} @clickOutsideToClose={{true}} @onClose="mixcloud">
        <div class="modal-header">
          <button {{action "mixcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload to Mixcloud - {{this.model.track.title}}</h4>
        </div>
        <div class="modal-body">
          <MixcloudUploader @track={{this.model.track}} />
        </div>
      </ModalDialog>
    {{else if this.soundcloudDialog}}
      <ModalDialog @targetAttachment="center" @translucentOverlay={{true}} @clickOutsideToClose={{true}} @close="soundcloud">
        <div class="modal-header">
          <button {{action "soundcloud"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload to Soundcloud - {{this.model.track.title}}</h4>
        </div>
        <div class="modal-body">
          <SoundcloudUploader @track={{this.model.track}} />
        </div>
      </ModalDialog>
    {{else if this.embedDialog}}
      <ModalDialog @targetAttachment="center" @translucentOverlay={{true}} @clickOutsideToClose={{true}} @onClose="embed">
        <div class="modal-header">
          <button {{action "embed"}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Embed - {{this.model.track.title}}</h4>
        </div>
        <div class="modal-body">
          Embed code and preview:
          <div>
            <Input @focus-in="focusEmbedCode" id="embed-player-html" @type="text" readonly="readonly" @value={{this.model.track.embedCode}} />
          </div>
          {{this.model.track.embedCode}}
        </div>
      </ModalDialog>
    {{/if}}
  </Ui::ChangesetForm>
{{/let}}
