{{#let (changeset @model) as |changeset|}}
  <Ui::ChangesetForm
    @changeset={{changeset}}
    @onSubmit={{this.onSubmit}}
    @onError={{this.onError}}
    as |Form|>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">URL</label>
      <span>{{changeset.audioFileName}}</span>
    </div>
    <div class="mb-4">
    <div class="block text-gray-700 text-sm font-bold mb-2">{{changeset.formattedDuration}}</div>
    </div>
    <div class="mb-4 mt-4">
      <Tracks::Replacer @track={{changeset}} />
    </div>
    {{#if changeset.isUploading}}
      uploading {{changeset.audioFileName}}...
      <div class="meter">
        <span style="{{this.uploadProgressStyle}}"></span>
      </div>
    {{/if}}
    <div class="mb-4">
      <ul>
        <li>
          <span class="block text-gray-700 text-sm font-bold mb-2" >Uploaded by: </span><b>{{changeset.uploadedBy}}</b>
        </li>
        <li>
          <span class="block text-gray-700 text-sm font-bold mb-2" >Uploaded at: </span> {{changeset.createdAt}}
        </li>
        <li>
          <span class="block text-gray-700 text-sm font-bold mb-2" >Last updated at: </span> {{changeset.updatedAt}}
        </li>
      </ul>
    </div>
    <div class="mb-4">
      <Form.Input
        @type="text"
        @label="Title"
        @fieldName="title"
        />
    </div>
    <div class="">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="artwork">
        Artwork
      </label>
      {{#if changeset.artwork}}
        <img alt="artwork" width="300" height="300" src={{this.model.track.thumbArtworkUrl}}>
      {{/if}}
      <ArtworkFileUpload
        @changeset={{changeset}}
        @fileField='artwork'
        @filename='artworkFilename'
        />
    </div>
    <br>
    <div class="mb-4">
      <Tracks::LabelsSelect
        @labels={{@labels}}
        @changeset={{changeset}} />
    </div>
    <div class="mb-4">
      <Tracks::ScheduledShowSelect
        @scheduledShows={{@scheduledShows}}
        @changeset={{changeset}}
        />
    </div>
    <br>
    <div class="mb-4">
      <Form.Input
        @type="text"
        @label="Youtube Link"
        @fieldName="youtubeLink"
        />
    </div>
    <div class="mb-4">
      <Form.Input
        @type="text"
        @label="Soundcloud Link"
        @fieldName="soundcloudKey"
        />
    </div>
    <div class="mb-4">
      <Form.Input
        @type="text"
        @label="Mixcloud Link"
        @fieldName="mixcloudKey"
        />
    </div>
    <Button
      @type='submit'
      @intent='primary'
      disabled={{(or Form.state.hasSubmitted changeset.isInvalid)}}
      >
      Save
    </Button>

    {{#if this.canDelete}}
      <button disabled={{Form.state.hasSubmitted}} class="btn danger" type="button" {{on "click" this.delete}}><FaIcon @icon="trash" /></button>
    {{/if}}
  </Ui::ChangesetForm>
{{/let}}
