<div class="">
  <h1 class="text-xl">Media Library</h1>
</div>
<div class="mb-2">
  <Tracks::Search
    class="mb-2"
    @search={{@updateSearch}}
    @filterText={{@searchParams.tracksQuery}} />
</div>
<div class="mb-2">
  <PowerSelectMultiple
    @placeholder="Search by tag..."
    @options={{@labels}}
    @selected={{this.selectedLabels}}
    @renderInPlace={{true}}
    @onChange={{action (mut this.selectedLabels)}} as |label|>
    {{label.name}}
  </PowerSelectMultiple>
</div>
<Tracks::Uploader @pushTrack={{this.pushTrack}}>
  <span {{did-insert this.performTask @searchParams.page}}></span>
  <span {{did-update this.performTask @searchParams.page}}></span>
  {{#if this.fetchData.isRunning}}
    <div class="w-full">
        <div class="h-64 overflow-y-scroll w-full">
          <p>
            Loading...
          </p>
        </div>
    </div>
  {{else}}
    <div class="h-64 overflow-y-scroll w-full">
      {{#each this.sortedTracks as |track|}}
        <Tracks::Track
          @track={{track}}
          @labels={{@labels}}
        />
      {{else}}
        No result.
      {{/each}}
    </div>
    {{#if this.meta}}
      <FruitsUi::Pagination
        @page={{@searchParams.page}}
        @totalPages={{this.meta.total_pages}}
        @route={{this.router.currentRouteName}}
        @paramName="tracksPage" />
    {{/if}}
  {{/if}}
</Tracks::Uploader>
