<FileDropzone @name="tracks" as |dropzone queue|>
  {{#if dropzone.active}}
    {{#if dropzone.valid}}
      Drop to upload
    {{else}}
      Invalid
    {{/if}}
  {{else if queue.files.length}}
    Uploading {{queue.files.length}} files. ({{queue.progress}}%)
  {{else}}
    {{#if dropzone.supported}}
      Drag and drop tracks onto this area to upload them or
    {{/if}}
    {{#let (file-queue name="tracks" onFileAdded=this.uploadTrack) as |queue|}}
      <label for="upload-track">
        <span role="button" tabindex="0" aria-controls="upload-track" class=""><FaIcon @icon="plus" />Add</span>
      </label>
      <input
        type="file"
        id="upload-track"
        accept="audio/*"
        multiple
        hidden
        {{queue.selectFile}}
      >
    {{/let}}
  {{/if}}

  {{yield}}
</FileDropzone>
